header {
   background-color: orange;
   border-style: outset; 
   font-size: 50px;
   border-color: brown;

}
nav {
    background-color: yellow;
    border: 1px solid darkorange;
    border-style: outset;
    border-color: brown;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
    border-right: 1px solid darkorange;
}
.active{
    background-color: orange;
}

li a {
    color: darkblue;
    display: block;
    padding: 14px;
    text-decoration: none;
}

li a:hover {
    background-color: orange;
}
.div1 {
    width: 300px;
    height: 100px;
    padding: 50px;
    border: 1px solid red;
  }