header {
   background-color: orange;
   border-style: outset; 
   font-size: 50px;
   border-color: brown;

}
nav {
    background-color: yellow;
    border: 1px solid darkorange;
    border-style: outset;
    border-color: brown;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
    border-right: 1px solid darkorange;
}
.active{
    background-color: orange;
}

li a {
    color: darkblue;
    display: block;
    padding: 14px;
    text-decoration: none;
}

li a:hover {
    background-color: orange;
}
.div1 {
    width: 300px;
    height: 100px;
    padding: 50px;
    border: 1px solid red;
  }
aside { 
    width: 230px; 
    position: absolute;
    top: 120px;   
    bottom: 10px; 
    left: 10px;
    right: 1px;
    background-color: rgb(150, 97, 0);
    opacity: 0.6;
} 
.div-body {
    top: 100px;
    position: relative;
    left: 100px;
    width: 340px;
    height: 170px;
}
body::before {
    content: "";
    background-color: orange;
    background-image: url(https://images.vexels.com/media/users/3/131779/isolated/preview/3d4929d289ad98ad71637d5c257d2f08-logo-de-pizza-1.png);
    position: fixed;
    top: 121px;
    right: 10px;
    bottom: 10px;
    left: 239px;
    opacity: 0.6;
}
footer {
    position: absolute;
    bottom: 0;
    background-color: yellow;
    left: 0;
    width: 100%;
}