header {
   background-color: orange;
   border-style: outset; 
   font-size: 50px;
   border-color: brown;

}
nav {
    background-color: yellow;
    border: 1px solid darkorange;
    border-style: outset;
    border-color: brown;
}

.ul-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.li-nav {
    float: left;
    border-right: 1px solid darkorange;
}
.active{
    background-color: orange;
}

.li-nav a {
    font-family: Arial;
    color: darkblue;
    display: block;
    padding: 14px;
    text-decoration: none;
}

.li-nav a:hover {
    background-color: orange;
}

aside {
    font-family: Arial; 
    overflow: hidden;
    word-wrap: break-word;
    width: 200px; 
    position: absolute;
    top: 115px;   
    bottom: 0%; 
    background-color: rgba(150, 97, 0, 0.6);
} 

.aside-img {
    max-width: 100%;
    position: absolute;
    bottom: 0px;
}
 
.div-body {
    top: 10px;
    position: relative;
    left: 255px;
    width: fit-content;
}

img {
    height: 200px;
}

body::before {
    content: "";
    background-color: orange;
    background-image: url(https://images.vexels.com/media/users/3/131779/isolated/preview/3d4929d289ad98ad71637d5c257d2f08-logo-de-pizza-1.png);
    background-attachment: ;
    position: absolute;
    top: 115px;
    right: 0px;
    bottom: 10px;
    left: 0px;
    opacity: 0.6;
}

footer {
    position: absolute;
    bottom: 0;
    background-color: yellow;
    left: 0;
    width: 100%;
}